{% extends "layout.html" %}
{% block content %}
{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}
  <section class="login-box">
    <div class="container-box">
      <div class="wrapper-box">
        
          <div class="name-login">
            <h3>LOG IN</h3>
          </div>
          <form action="/login" method="post" class="form-login">
            <div class="label">
              <label>Email</label>
            </div>
            <input type="email" name="email" class="input-login">
            <div class="label">
              <label>Password</label>
            </div>
            <input type="password" name="password" class="input-login">
            <div class="forgot-password"><a href="">หากลืมรหัสผ่าน</a></div>
            <div class="sunmit-login">
              <button id="login-button">เข้าสู่ระบบ</button>
            </div>
            <div class="register-go">
              <a href="/register">สมัครบัญชีร้านค้า</a>
            </div>
          </form>
   
      </div>
    </div>
  </section>
{% endblock %}
